@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

/* ===============================
   AUTO-HIDE SIDEBAR SCROLLBAR
   =============================== */

.sidebar-scroll {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #9ca3af transparent;
  /* thumb | track */
}

/* Chrome, Edge, Safari */
.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s;
}

/* Show scrollbar ONLY on hover */
.sidebar-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.8);
}

/* Darker on thumb hover */
.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(55, 65, 81, 0.9);
}

@keyframes pan {
  0% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(20%);
  }
}

.animate-pan {
  animation: pan 12s ease-in-out infinite alternate;
}

@media print {
  body * {
    visibility: hidden !important;
  }

  #print-only-table, #print-only-table * {
    visibility: visible !important;
  }

  #print-only-table {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
  }

  table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 8px;
  }

  th {
    background:#f8f8f8;
  }
}
